# Node
node_modules

# Jupyter notebooks
*.ipynb_checkpoints

# Python 

*.pyc
*.egg-info
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# Secrets
.env*
env.bash
src/import/template.yaml

# Build directories
builds
