node_modules

# Jupyter notebooks

*.ipynb_checkpoints

# Python 

*.pyc
*.egg-info
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# Secrets
.env*

# Ignore files
.gcloudignore
.nowignore

# Build directories
gcloud-builds
aws-builds
dist
